*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #333;
  background-image: url(https://officialmuffin.github.io/Javascript-Text-Game/img/bg.jpg)
}

/* Navigation Bar */

.topnav {
  overflow: hidden;
  position: fixed;
  top: 0px;
}

.topnav a {
  float: left;
  color: skyblue;
  text-align: center;
  padding: 20px 80px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: cadetblue;
  color: whitesmoke;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: mintcream;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.warning {
  color: red;
  text-shadow: 0.5px 0.5px red;
  text-align: center;
  font-size: 12px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
  border-width: 3px;
  /* Border Thickness when Hovered */
}

/* About Page */

.about {
  border-radius: 25px;
  background-color: white;
  padding: 20px 20px;
  color: black;
  width: 100%;
  margin-top: 100px;
}
